@import url('https://api.fontshare.com/v2/css?f[]=khand@1&display=swap');

:root {
  --dark-blue: #000040;
  --medium-blue: #004080;
  --light-blue: #0080c0;
}

* {
  font-family: 'Khand', sans-serif;
}

body {
  background-attachment: fixed;
  background-color: #1c246d;
  background-image: url(/images/bg.jpg);
  background-position: center bottom;
  background-repeat: repeat-x;
  background-size: contain;
  color: var(--text-color);
  font-size: 16px;
}

a {
  text-decoration: none;
  color: var(--medium-blue);
}

a:hover {
  color: var(--dark-blue);
}

.highlight {
  color: var(--light-blue);
  font-weight: 500;
}