@font-face {
  font-family: "MP16";
  src: url('/fonts/misterpixel-16.woff2') format('woff2');
}

@font-face {
  font-family: "FreePixel";
  src: url('/fonts/freepixel.woff2') format('woff2');
}

:root {
  --border-color: gray;
  --background-color: lightgray;
  --color: #212529;
  --hover-color: limegreen;
  --highlight-color: royalblue;
}

body {
  font-family: 'FreePixel', monospace;
  font-size: 16px;
  color: var(--color);
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: var(--color);
}

a:hover {
  color: var(--hover-color);
}

.highlight {
  color: var(--highlight-color);
}